<%= render 'shared/page_title', title: "create a new todo" %>

<%= render 'form' %>

<div class="col-md-12 col-md-offset-12 colormatch">
  [ <%= link_to "Cancel request and return to Todo listing", tasks_path %> ]
</div>