

<div class="login-header">
	<% if params[:id] == "welcome" %>
  	<h1><%= t('pages.new.edit_welcome_page') %></h1>
  	<% else %>
  	<h1><%= t('pages.new.edit_about_page') %></h1>
  	<% end %>
	

<hr>

</div>
<div class="row">
	<%= render partial: "form" %>
</div>

<script type="text/javascript">
	$(document).ready(function() {
		if($('footer').classList.contains('fixed-footer')) {
			$('footer').removeClass('fixed-footer');
		}
	});
</script>

