<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<div style="width: 100%; heigh: auto;">
   		<%= @email_body.html_safe %>.
	</div>
   <footer style="border-top: 1px solid #eaeaea;color: #777;margin-bottom: 0px; width: 100%; background-color: #344a64!important;text-align: center;position: fixed;bottom: 0;">
   	Powered by <a href="https://itoprecipes.com" style="color: #555;">iTopRecipes.com</a> :copyright: 2017 – <%= Time.zone.now.year %>
   </footer>
  </body>
</html>