@import "bootstrap-sprockets";
@import "bootstrap";

* {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 2.5em;
  color: #fff;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.btn-xlarge {
  background-color: #073B15;
}

.btn-xlarge:hover {
  color: #fff;
  text-decoration: none;
}

body {
  height: 100%;
}

#wrapper {
  min-height: 100%; height: 100%; margin: 0 auto;
}

.content {
  padding:10px;
  padding-bottom:60px;
  margin-top: 70px;
}

footer {
  border-top: 1px solid #eaeaea;
  color: #777;
  margin-bottom: 0px;
}

.fixed-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.container {
  width: 100%;
  min-height: 90%;
}

.description {
  margin-top: 0;
}


.chef_info {
  margin-top: 10px;
}
.colormatch {
  font-size: 15px;
}
.colormatch a {
  color: #007bff;
}

.recipe-actions {
  padding-top: 5px;

  a {
    color: #fff;
  }
}

.thumb {
  margin-top: 0!important;
}

.recipes-q {
  margin-top: 250px;
}

.without-heading {
  margin-top: 50px;
}

.top-space .img-inner {
  display: block;
  margin-right: 0;
}

.margin-sec .image-box-shadow {
  height: 220px;
}

.recipe-detail .image-box-shadow {
  height: 320px !important;
}

.image-box-shadow img {
  height: 295px !important;
}

.detail-sec .detail-list center {
width: 100%;
float: left;
margin-bottom: 10px;
}

.margin-sec .box-content center h2 {
text-align: left;
font-size: 17px;
line-height: 1.4;
font-weight: 600;
margin-top: 0;
margin-bottom: 10px!important;
text-transform: capitalize;
}

.margin-sec .box-content h2 {
text-align: left;
font-size: 17px;
font-weight: 600;
margin-top: 0;
margin-bottom: 10px!important;
text-transform: capitalize;
color: #337ab7;
}

.detail-sec .detail-list h2 a {
  width: auto;
  padding: 0px 15px;
  margin: 0 auto;
  text-align: center;
  border: 0;
  height: 36px;
  line-height: 36px;
  text-decoration: none;
  float: left;
  color: #fff!important;
  background-color: #5cb85c;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}

.table-bordered {
    border: 1px solid #dee2e6 !important;
}


.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  color: #073B15;
  font-weight: bold;
  font-size: 1.25em;
}

.input_checkbox input {
  width: auto !important;
}

.center-block {
  float: none;
}

.chat-container {
  bottom: 0;
  left: 0;
  right: 0;
  top: 150px;
  width: 80;
}

.chef-main-detail .chef-left {
  min-height: 320px;
  max-height: 320px;
  height: auto;
  overflow: hidden;
}
.chef-bio.bio-section {
  clear: both;
  width: 100%;
  float: left;
  margin-bottom: 15px;
}
.image-box-shadow {
  padding: 5px;
  margin-right: 0px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  min-height: 155px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.box-content .detail-list a.btn-edit {
  position: absolute;
  bottom: 20px;
  right: 190px;
}

.box-content .detail-list a.delete-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.chef-main-detail .chef-left img {
  height: 310px;
  object-fit: contain;
}

.image-box-shadow img {
  object-fit: cover;
  object-position: center center;
  height: 100%;
  width: 100%;
}

.img-inner img {
    height: 210px !important;
}

.chef-full .box-content.box-main {
  background-color: #fff;
  padding: 20px;
  border-radius: 0;
  border: 1px solid #9999994f;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  min-height: 340px;
}

.chef-main-detail .chef-right {
  min-height: 320px!important;
  height: auto;
  max-height: 320px;
}

.chef-full .bios {
  text-align: left;
  font-size: 20px!important;
  font-weight: 600;
  margin-top: 0;
  text-transform: capitalize;
}

.chef-full .bios p {
  font-size: 17px!important;
}

.chef-full .bios h3 {
  color: #337ab7;
}

.well.box-content .pull-right {
  float: right !important;
  margin-top: 10px;
}

.box-content .pull-right {
  position: absolute;
  right: 40px;
  margin: 0;
}

a {
  color: #337ab7;
  text-decoration: none;
}

.margin-sec .box-content .pull-right > a {
  transition: all 0.5s ease 0s;
}

.margin-sec .box-content .pull-right > a i {
  font-size: 20px;
}

.chef-main-detail .chef-right .bios h2 {
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  border: 0;
  text-align: left;
  text-transform: none;
  color: #333333;
  font-weight: 500;
}

.message-container {
  .form-control {
    float: left;
    width: 80%;
  }

  .btn {
    float: right;
    position: relative;
    height: 54px !important;
    width: 18%;
  }
}

.radio-inline, .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.message {
  padding-left: 5px;
  padding-top: 10px;
}

.messages {
  border: 1px solid #eaeaea;
  height: 16em;
  position: relative;
  overflow: auto;
}

#message {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  float: none;
  margin-top: 30px;
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}

.row > form {
  width: 100%;
  padding: 50px;
}

.full-width-sec.edit-chef {
  margin: 0;
  display: block;
  text-align: center;
  width: 100%;
  float: left;
  padding: 0;
}

.full-width-sec .box-content {
  float: none;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  margin: 0 1%;
}

.margin-sec .box-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 0;
  border: 1px solid #9999994f;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.detail {
  width: calc(100% - 460px);
}

.top-space .box-inner-sec {
  display: block;
  margin-right: 0px;
  width: 100%;
  float: left;
  position: relative;
}

.margin-sec .box-content  p {
  font-size: 16px;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1;
  border: 0;
  text-align: left;
}

.well.box-content .chef_info {
  float: left;
  width: auto;
  margin-top: 10px;
}

.margin-sec .box-content h2 {
  text-align: left;
  font-size: 17px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 10px!important;
  text-transform: capitalize;
  color: #337ab7;
}

section.chef_info h2 a {
  text-transform: capitalize;
  text-decoration: none;
}

section.chef_info h2 a {
  width: auto!important;
  padding: 0px 15px!important;
  margin: 0 auto;
  text-align: center;
  border: 0;
  height: 36px!important;
  line-height: 36px!important;
  float: right;
  color: #fff;
  background-color: #5cb85c;
}

section.chef_info {
  margin: 0;
  text-align: left;
  width: 100%;
}

.margin-sec .box-content {
  min-height: 220px;
}

.custom-second-sec {
  margin-bottom: 25px;
}
.custom-second-sec p {
  text-align: center;
  margin-bottom: 0;
}

.custom-image-one img {
  object-fit: contain;
  height: auto;
  object-position: top center;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

img {
  vertical-align: middle;
}

.liking {
  padding-right: 10px;
}

.small-image {
  max-width: 25px;
  height: auto;
}

.login-sec {
  padding: 20px;
  border-radius: 0;
  border-width: 1px;
  float: none;
  margin: 0 auto 70px;
  display: table;
}

.login-sec label {
  font-weight: 500;
  font-size: 14px;
}

.login-sec .field input {
  height: 36px!important;
  line-height: 36px!important;
  padding: 5px 10px;
  outline: none;
  border: 1px solid #d2d2d2;
  margin-bottom: 20px;
}

.login-sec input {
  // border-radius: 0px!important;
}

.login-sec .btn-primary:hover {
  background-color: rgba(129, 96, 225, 0.8);
}

.login-sec.reply-answer textarea {
  padding: 20px;
}

.login {
  float:right;
  padding: 5px;
}

.registration {
  float:right;
  padding: 5px;
}

.login-sec.reply-answer textarea:focus {
  outline: 0;
  border-color: #5bb05d;
}

.login-sec textarea:focus {
  outline: 0;
  border-color: #5bb05d;
}

.login-sec.reply-answer label {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 15px;
}

.login-sec.reply-answer a.btn-small {
  height: 36px;
  line-height: 36px;
  padding: 0 13px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 0;
  float: right;
}

.login-sec form + a {
  float: right;
  padding-top: 5px;
}

.login-sec input:focus {
  border: 1px solid #5bb05d;
  outline: 0;
}

.login-sec.well {
  padding: 15px;
  border-radius: 0;
  border: 1px solid #9999994f;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background: transparent;
}

.login-sec .field input {
  width: 100%;
}

.actions input {
  float: left;
  display: block;
}

.login-header h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.menu {
  width: 100%;
}

.menu div {
  margin: 0 10px;
}

.welcome-page {
  align: center;
}

.navbar-default {
  width: 100%;
  background-color: transparent;
  border: none !important;
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
}

.navbar-nav > li > a  {
  color: white !important;
} 

.navbar-nav > li > a:hover  {
  color: #555;
  background-color: #1fbd24 !important;
} 

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #1fbd24 !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
   background-color: #1fbd24 !important;
}

.top-recepi  .detail {
  padding-left: 0 !important;
}

.modal-dialog {
    max-width: 600px !important;
    margin: 1.75rem auto;
}

.nav  > li {
    height: 100%;
    color: #fff;
    text-decoration: none;
    line-height: 3;
    font-weight: bold;
    /*margin-right: 1px;*/
    font-size: 15px;
    
}

.navbar-nav > li {
  background: rgba(97, 148, 85, 0.62);
  border: 1px solid #fff;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 2.5em !important;
    height: 2.5em !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;    
    background-color: #208620 !important;
}  

.navbar .navbar-toggle .navbar-toggler-icon { color: #ffffff; }
.navbar-light .navbar-toggler {

  border-color: rgba(49, 222, 54, 0.3);

}

.navbar-default .navbar-nav > li > a {
  color: #fff !important;
  font-size: 16px;
}

.navbar-nav .dropdown-menu{
  position: relative;
  z-index: 100000;
}


.header {
    background: url(asset-path('header.png')) center center no-repeat;
    width: 100%;
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70px;
    z-index: 99;
}
.header img {
  width: 100%;
  opacity: 0;

}

.button-menu {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5%;
  left: 40%;
}

.button-menu div {
  display: inline-block;
  margin-right: 20%;
}

.auth_buttons div {
  display: inline-block;
}

.auth_buttons div {
  margin-top: 1%;
  float: right;
  margin-right: 1%;
}

.custom-select {
  position: absolute;
  top: 145%;
  right: 45%;
  color: #fff;
  padding: 20px 17px;
  background: none;
  border: none;
  background: rgba(97, 148, 85, 0.62);
  border-radius: 0;
  color: #fff;
  font-family: 'Merriweather', serif;
}

.about-tour {
  position: absolute;
  right: 40%;
  padding: 10px;
  font-size: 20px;
}

.about-private-info p {
  font-size: 20px;
  text-align: center;
}

.about-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about-buttons div {
  margin-right: 1%;
  padding: 5px;
}

.about-buttons a {
  font-size: 20px;
}

.welcome-locale-selector .btn {
  padding: 10px 17px;
  background: rgba(97, 148, 85, 0.62);
  border-radius: 0;
  color: #fff;
  font-family: 'Merriweather', serif;
}

.welcome-locale-selector .btn:active,
.welcome-locale-selector .btn:focus,
.welcome-locale-selector .btn:hover {
  color: #fff;
  background: rgba(97, 148, 85, 0.62);
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.welcome-locale-selector .dropdown-menu {
  border-radius: 0;
  
}

div.dropdown {
  position: relative;
  padding-right: 1%;
}

@media screen and (min-width: 992px) {
  div.dropdown {
    width: 100%;
    height: auto;
    padding-top: 44%;
    font-size: 38px;
  }
}

.welcome-title h2 {
  color: #fff;
  font-size: 6em;
  font-weight: 300;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-all;
  display: block;
  position: absolute;
  top: 0;
  font-family: 'Merriweather', serif;
}

div.welcome-title {
  position: relative !important;
}

img {
  max-width: 100% !important;
  height: auto !important;
}

.welcome-title {
  width: 100%;
  position: absolute;
}

.welcome-title img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  display: block;
}

.welcome-content {
  width: 100%;
  margin-top: 15%;
  position: absolute;
}

.welcome-content span {
  font-size: 7vw !important;
  color: #848484;
}

@media screen and (min-width: 992px) {
  .welcome-content span {
    margin-top: 10%;
    font-size: 38px;
  }
}

div#enter {
  position: absolute;
  padding-top: 10%;
  padding-left: 45%;
}

.enter-sec a {
  width: 100%;
  height: 50px;
  font-size: 50px;
  padding: 5px;
  text-shadow: none !important;
  color: #fff !important;
  text-transform: capitalize;
  font-weight: 400;
  line-height: 80px;
  background: rgba(97, 148, 85, 0.62);
  border: 1px solid #fff;
  border-radius: 0;
  text-align: center;
  vertical-align: middle;
  font-family: 'Merriweather', serif;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .enter-sec a {
    width: 40%;
    height: 40px;
    font-size: 20px;
    padding: 10px;
    text-shadow: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    line-height: 80px;
    background: rgba(97, 148, 85, 0.62);
    border: 1px solid #fff;
    border-radius: 0;
    text-align: center;
    vertical-align: middle;
    font-family: 'Merriweather', serif;
    text-decoration: none;
    padding: 5px;
  }
}

#enter :hover {
  background: rgba(97, 148, 85, 0.8);
}

.take_a_tour_as_guest {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.take_a_tour_as_guest a {
  font-size: 18px;
  border-radius: 0;
}

.about-sign-up {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}

.about-sign-up a {
  font-size: 18px;
  border-radius: 0;
}

footer {
  width: 100%;
  float: left;
  background-color: #344a64!important;
  padding: 5px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 14px;
}

.guests-table {
  border-style: solid;
  border-color: #ddd;
}