body {padding-top: 0px;    margin-bottom: 50px;  overflow-x: hidden; }
.navbar {
    margin-bottom: 0;
    border: none;
    z-index: 10 !important;
}
.navbar-brand .glyphicon {
    margin-right: 6px
}

.alert {
    font-size: 15px;
    text-align: center;
}

.alert-notice {
    background-color: #99cc99;
}

.alert-alert {
    background-color: #e8e07c;
}





@media (max-width: 1199px) {
.box-content.rht-box-sec { margin-top: 30px;} 
.row { margin-left: 0; margin-right: 0;}
.allergen-sec .col-md-8 {padding-left: 0px;}
}

@media (max-width: 1199px) and (min-width: 1025px) {
    .chef-full .custom-profile-detail img {min-height: inherit!important;}
}

@media (max-width: 1024px) {
    .update-section .box-content { min-height: inherit!important;}
    .update-section .box-content:last-child {margin-top: 20px;}
.edit-chef .box-content { min-height: inherit;}
.margin-sec .box-content {
    /*min-height: 240px;*/
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    float: left;
}
.top-space .image-box-shadow {    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    float: left;}
.margin-sec.recipi-main {
    margin-top: 80px;
}
.chef-full .box-content.box-main {    width: 100%;
    float: left;
    min-height: inherit!important;
    margin: 12px 0 12px 0;}

.chef-full .image-box-shadow {
    display: inline-block;
    float: left;
    vertical-align: top;
    width: 260px;
    margin: 0;
}
.nav.nav-tabs > li a { font-size: 18px;}
.login-sec.well {
    width: 90%;
    float: none;
    margin: 0 auto;
}

}



@media (min-width: 992px) {
    .hero .get-it {
        text-align: right;
        margin-top: 80px;
        padding-right: 30px
    }

}
.icon-feature,
.site-footer,
.testimonials blockquote {
    text-align: center
}

@media (max-width: 991px) {
.pagination-tab { margin-left: auto; margin-right: auto; float: left; width: 100%; }
.pagination-tab  .pagination {margin: 10px 0 20px 0;}


}

@media (max-width: 992px) {
    .content-se .enter-sec a {
    font-size: 30px !important;
    width: 200px;
    line-height: 60px;
    height: 60px;
}
    .content-se h2 {font-size: 4em!important;}
    .hero .get-it {
        text-align: center;
        background-color: gray
    }
    .hero .phone-preview {
        text-align: center
    }
 .container {width: 100%!important;}
 .container .row { margin-left: 0; margin-right: 0;}
   .well .img-sec img {max-width: 100%!important;}
}
.hero .get-it h1,
.hero .get-it p {
    color: #000;
    font-family: Garamond;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
    margin-bottom: 40px
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-5 {
    margin-top: 5px;
}
.hero .get-it .btn {
    margin-left: 10px;
    margin-bottom: 10px;
    text-shadow: none
}
div.iphone-mockup {
    position: relative;
    max-width: 250px;
    margin: 20px;
    display: inline-block
}
.iphone-mockup img.device {
    width: 100%;
    height: auto
}
.iphone-mockup .screen {
    position: absolute;
    width: 88%;
    height: 77%;
    top: 12%;
    border-radius: 2px;
    left: 6%;
    border: 1px solid #444;
    overflow: hidden;
    background: url(screen-content-iphone-6.jpg) center;
    background-size: cover
}
.iphone-mockup .screen:before {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 70%;
    height: 140%;
    top: -12%;
    right: -60%;
    transform: rotate(-19deg);
    opacity: .2
}
.icon-feature .glyphicon {
    font-size: 60px
}
section.features {
    background-color: #369;
    padding: 40px 0;
    color: #fff
}
.features h2 {
    color: #fff
}
.features .icon-features {
    margin-top: 15px
}
section.testimonials {
    margin: 50px 0
}
.site-footer {
    padding: 20px 0
}
@media (min-width: 768px) {
    .site-footer h5 {
        text-align: left
    }

    .nav .btn {
        background-color: transparent;
        border: none;
        font-size: 15px;
        font-weight: bold;
    }

    .detail-sec {
        max-width: 61.666667%;
    }

    .col-md-4.col-sm-12.col-xs-12.thumb-sec {
        max-width: 36.333333%;
    }

    .recipe-detail .image-box-shadow {
        height: 420px !important;
    }


    header#main_header > .container #responsive-nav > ul, header#main_header > .container #responsive-nav .nav_item {
        float: none;
        display: inline-block;
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        float: left;
    }
}
.site-footer h5 {
    color: inherit;
    font-size: 20px
}
.site-footer .social-icons a:hover {
    opacity: 1
}
.site-footer .social-icons a {
    display: inline-block;
    width: 32px;
    border: none;
    font-size: 20px;
    border-radius: 50%;
    margin: 4px;
    color: #fff;
    text-align: center;
    background-color: #798FA5;
    height: 32px;
    opacity: .8;
    line-height: 32px
}
/* @media (min-width: 768px) {
    .site-footer .social-icons {
        text-align: right
    }
} */
.jumbotron p #feel_free {
    margin-bottom: 15px;
    color: #fff;
    font-size: 40px;
    font-weight: 200
}
/* #feel_free {
    color: #fff;
    font-size: 50px
} */
h1 {
    font-size: 12px;
    margin: .67em 0
}
.mobile_msg {
    color: #fff;
    font-family: Garamond;
    font-size: 32px;
    text-align: center
}

.login-sec textarea {
    padding: 10px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: none;
    margin: 0px 0px 15px;
    width: 100%;
    height: 138px;
}
header#main_header {
    text-align: center;
        height: 80px;
}
/*header#main_header > .container #responsive-nav > ul, header#main_header > .container #responsive-nav .nav_item {
    float: none;
    display: inline-block;
}*/
header#main_header > .container #responsive-nav > ul li a, header#main_header > .container #responsive-nav .nav_item a {
        padding: 6px 18px;
    font-size: 16px; 
}

header#main_header > .container > ul, header#main_header > .container .nav_item {
    float: none;
    display: inline-block;
}
header#main_header > .container > ul li a, header#main_header > .container .nav_item a {
        padding: 6px 18px;
    font-size: 16px; 
}

.content-header {
width: 100%;
float: left;
}
.pagination-tab {
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 100%;
}
.btn-success a {    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    width: auto!important;
    padding: 0px 15px;
    height: 36px;
    line-height: 36px;
    float: right;}
.pagination-tab .pagination {float: right; margin-top: 0;}
.container {
    max-width: 1000px;
    float: none;
    margin: 0 auto!important;
}
.header-menu li a {    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.428571429;
    border-radius: 4px;
    opacity: 0.90;
    color: #fff;
    background-color: #5cb85c;
    text-decoration: none;}
.header-menu {    float: right;
    width: auto;
    margin: 6px 0 0 0;
    padding: 0;}
.header-menu li {list-style: none;
    float: none;
    display: inline-block;
    margin-right: 5px;}
.header-menu li a:hover {
    opacity: 1;
}
.login-sec span.or {    margin-top: 12px;
    margin-bottom: 0;
    text-align: center;
    width: auto;
    margin-left: 37px;}
.login-sec .guest-login {    float: right;
    width: auto;
    padding: 0 15px;}
.btn-success a:hover {
    text-decoration: none;
        background-color: #449d44;
}
button.btn-bottom {    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.428571429;
    opacity: 0.90;
    color: #fff;
    background-color: #8160e1;
    text-decoration: none;
    border: 0;
    border-radius: 4px;
    margin-bottom: 60px;
    float: right;}
button.btn-bottom:hover {
    text-decoration: none;
    opacity: 1;
}
.chef-main h3 {
        font-size: 20px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 2.5;
    border: 0;
    margin-top: 5px;
}
.chef-main h3 a:before {     content: "\f1f8";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 18px;
    margin-top: 7px;
    color: rgb(88, 85, 85);}
.chef-main h3 a:hover:before { color: rgb(51, 49, 49);}
.chef-main h3 a {float: right; font-size: 0!important;}
.custom-profile-detail h3 {
    font-size: 17px!important;
    width: 100%;
    float: left;
    padding: 5px;
    display: block;
    border: 1px solid #9999994f;
    font-size: 20px;
    font-weight: 500;
    line-height: 2;
    font-style: normal;
    color: #fff;
    margin-bottom: 0;
    margin-top: 4px;
    margin: 0;
    margin-top: -20px;
    background: rgb(83, 166, 83) !important;
    z-index: 99;
}
.margin-sec .box-content {    background-color: #fff;
    padding: 20px;
    border-radius: 0;
    border: 1px solid #9999994f;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}
.margin-sec .box-content:hover {-webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.32);
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.32);
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.32);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}
.margin-sec .box-content center h2 {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 14px;
    text-transform: capitalize;
}
.margin-sec .box-content center h2 a {  color: #337ab7;}
.margin-sec .box-content center p {    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    border: 0;
    text-align: left;}
section.chef_info.center {
    margin: 0;
    text-align: left;
    width: 100%;
}
section.chef_info.center h2 a { 
        font-size: 15px;
    font-weight: 500;
}

.image-box-shadow {
        padding: 5px;
    margin-right: 0px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    min-height: 155px;
        -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
} 
.image-box-shadow img {    height: 155px;
    object-fit: cover;
    object-position: center center;
    width: 100%;}
.image-box-shadow:hover {  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.32)!important;
    -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.32)!important;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.32)!important;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;}
.login-sec form.new_chef input[type="checkbox"] { 
    float: left;
    width: auto!important;
    margin: 5px 8px 0 0;
    height: auto!important;
    line-height: normal!important;
}
section.chef_info.center h2 a {    width: auto!important;
    padding: 0px 15px!important;
    margin: 0 auto;
    text-align: center;
    border: 0;
    height: 36px!important;
    line-height: 36px!important;
    float: right;
    color: #fff;
    background-color: #5cb85c;}
section.chef_info.center h2 a:hover {
    text-decoration: none;
        color: #fff;
    background-color: #449d44;
}
.recepie-menu {
    width: 49%;
    float: none;
    margin-bottom: 20px;
    display: inline-block;
    vertical-align: top;
}
.recepie-menu strong {
        display: block;
    margin-bottom: 8px;
}
.recepie-menu label {padding-left: 10px; margin-left: 0px!important; }
.recepie-menu label input {    margin-left: 0!important;
    margin-right: 8px;
    float: left;
    display: inline-block;
    line-height: normal!important;
    height: auto!important;
    position: static!important;
    margin-bottom: 0;}
.alert {
    margin-top: 30px!important;
    margin-bottom: 0!important;
}
.recepie-menu .picture input[type="file"] {
    margin-bottom: 0px;
    padding: 0;
    margin-top: 5px;
}
.recepie-menu bold {    margin-bottom: 5px;
    display: block;}
.recepie-menu:last-child {margin-bottom: 0px;}
.recepie-menu.btn {
    width: 100%;
    float: left;
    margin: 0;    border-top: 1px solid #c1baba;
    padding: 10px 0 0 0; 
}
.recepie-menu.btn input {margin: 0 auto;
    float: none;}
.login-sec form#new_page input[type="submit"] {    margin: 0 auto; 
    float: none;}
.content-header table.table {margin-top: 50px;}
.content-header table.table thead tr th {border-bottom: 0px;}
.admin-picture img {    width: 100%; height: auto;  max-width: 300px;}
.admin-picture h3 { font-size: 18px;}
.admin-detail p {    font-size: 17px!important;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    line-height: 1.5;
    border: 0; margin-left: 0px!important;
    margin-bottom: 8px!important;}
.admin-detail h2 {
        font-size: 17px;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    border: 0;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 600;
    margin: 0 0 5px 0;
    text-align: left;
    text-transform: capitalize;
}
.admin-detail a {
        font-size: 18px!important;
    border-radius: 0;
    box-shadow: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif!important;
    line-height: 1.5;
    border: 0;
    margin-bottom: 8px!important;
    color: #fff;
    font-weight: 600;
    margin: 0 0 0 0;
    text-align: left;

}
.admin-detail p#timecreated {margin-top: 0px!important;}
.created-by {    font-size: 13.5px;}
.created-by .quiet {  margin-bottom: 10px; display: block;}
.created-by .quiet:last-child {margin-bottom: 15px;}
.created-by a i { margin-right: -5px;} 
.admin-detail .bio {font-size: 17px;
    border-radius: 0; 
    box-shadow: none;
    padding: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    border: 0;} 
.margin-sec .image-box-shadow {    height: 220px;}
.margin-sec .image-box-shadow img {height: 100% !important;}


@media (max-width: 480px) {   
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        float: left;
    }
.margin-sec .top-space .col-img {  width: 100%!important; margin-top: 0!important;  margin-right: 0!important; margin: 0;}
.margin-sec .top-space .col-img .image-box-shadow { height: auto;  width: 100%; float: left; margin-left: 0; margin-right: 0; margin-top: 10px;}
.margin-sec.top-recepi .thumb {    width: 100%;
    float: left; margin: 0 0% 20px 0%; overflow: hidden;
    height: 290px!important; min-height: 290px;}
.margin-sec.top-recepi .thumb img { min-height: 290px!important;}
.recipes-q h3 a { font-size: 17px; padding: 0 20px;}
.recipe-detail .thumb-sec .image-box-shadow {    width: 100%;
    float: left;
    margin: 0 0% 20px 0%;
    overflow: hidden;
    height: 290px!important;
    min-height: 290px;}
.recipe-detail .thumb-sec .image-box-shadow img { min-height: 290px!important;}

.custom-alert.alert {font-size: 15px!important; font-weight: 600!important;}
.delete-btn-type { width: 100%; float: left; margin-bottom: 30px;}
.box-content .detail-list a.delete-btn {position: static!important; margin-top: 0;}
.box-content .detail-list a.btn-success {position: static!important; margin-top: 0;}
.box-content .detail-list h2 { width: 100%; float: left; margin-top: 10px!important; font-size: 15px!important;}
.box-content .detail-list .well-sec { width: 100%; float: left;}
    .content-se h2 { font-size: 2em!important; padding: 0 10px;}
    .content-se .enter-sec a {     font-size: 22px !important;
    width: 150px;  line-height: 46px;  height: 46px;}
.custom-second-sec .read-more {display: block;}
.custom-second-sec .read-more a {  font-size: 16px;}
}
@media (max-width: 767px) and (min-width: 481px) {   
    .navbar-header, .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
        z-index: 1000;
        background-color: #346540;
        /* border: solid 1px; */
    }
.bio-section.chef-bio .col-md-3 {margin-bottom: 20px!important;}
.bio-section.chef-bio .col-md-3 {width: 220px!important; height: 220px!important;}
.bio-section.chef-bio .col-md-3 .image-box-shadow {height: 210px!important}
.bio-section.chef-bio .col-md-3 .custom-profile-detail {height: 210px!important;}
.bio-section.chef-bio .col-md-9 { width: calc(100% - 220px)!important;}

.top-space .col-img { width: 100%!important; float: left!important; margin: 0 0% 20px 0%!important; overflow: hidden; height: 420px!important;}
.chef-full.bio-section .col-md-3 {width: 50%; float: left;}
.chef-full.bio-section .col-md-9 {width: 50%; float: right;}
.margin-sec.top-recepi .thumb {    width: 100%;
    float: left; margin: 0 0% 20px 0%; overflow: hidden; height: 420px!important;}
.margin-sec.top-recepi .thumb img { min-height: 420px;}

header#main_header #responsive-nav {    max-height: 200px; overflow-y: auto;}
.login-sec form input.btn {font-size: 12px!important;}


.recipe-detail .thumb-sec .image-box-shadow {    width: 100%;
    float: left;
    margin: 0 0% 20px 0%; 
    overflow: hidden;
    height: 420px!important;
    min-height: 420px;}
.recipe-detail .thumb-sec .image-box-shadow img { min-height: 420px!important;}

}

@media (max-width: 767px) { 
.top-space .col-list { width: calc(100% - 0px)!important;}
.chef-main-detail .chef-right {    max-height: inherit!important;}
.chef-main-detail .chef-right .bios h2 {font-size: 16px!important; line-height: 1.5!important;} 
.chef-full .custom-profile-detail img {    max-height: inherit!important; min-height: inherit!important;}
.custom-new-form .login-sec {padding: 0px;}
.page-sec {    position: relative;
    margin-top: 50px;}
.page-sec .btn-success {  position: absolute;   top: -60px; right: 20px;}
.page-sec .btn-success a {  margin: 0!important;  padding: 0 10px!important;
    line-height: 36px; height: 36px;}

.chef-full.bio-section .image-box-shadow {width: 100%; float: left;}
.chef-full.bio-section .box-content.box-main {padding: 10px;}
.detail-sec .detail-list {padding: 0!important;}
.recipe-detail .thumb-sec {  float: left; width: 100%;  margin: 0 0 20px 0;}
.recipe-detail .thumb-sec { float: left; width: 100%; margin: 0 0 20px 0;}
.thumb-sec .image-box-shadow img {  max-height: 350px;  height: auto;}
.recipe-detail .thumb-sec .image-box-shadow {height: auto;}
.margin-sec .image-box-shadow img {max-height: 350px;}
.top-space .col-md-8 { width: 100%; float: left; padding: 0;} 
.top-space .col-md-2 {    width: 48%;
    float: left;
    padding: 0!important;
    margin: 0 1% 20px 1%;}



.style-sec .col-md-9 { width: 100%; float: left; padding: 0;} 
.style-sec .col-md-3 { width: 100%; float: left; padding: 0!important; margin: 0; } 

.margin-sec .image-box-shadow {
    height: auto; width: 100%; float: left;
    margin-left: 0; margin-right: 0; margin-top: 10px;}

.col-md-8 { width: 100%; float: left; padding: 0;} 
.col-md-2 { width: 100%; float: left; padding: 0!important; margin: 0; }

.col-md-9 { width: 100%; float: left; padding: 0;} 
.col-md-3 { width: 100%; float: left; padding: 0!important; margin: 0; } 

    .margin-sec .box-content {padding: 10px!important;}
.chef-main h3 {font-size: 18px;}
.top-space .col-md-8 { padding-left: 0; padding-right: 0;}
.top-space .col-md-2 { padding-left: 0; padding-right: 0;}
.top-space .box-inner-sec.box-content { min-height: 240px!important; display: inline-block;}
    .custom-alert.alert { top: 80px!important;}
   .login-sec.reply-answer.well { width: 96%; float: none; margin: 0 auto; display: table!important; padding: 12px!important;}
.update-section.margin-sec .box-content input[type="submit"] {    word-wrap: break-word;
    word-break: break-all;
    white-space: normal; 
    height: auto!important; 
    line-height: 1.4!important; 
    padding: 10px 20px!important;} 
.new-cheif.edit-chef .box-content input[type="submit"] {} 
.login-header .right-header a { position: absolute!important; left: 50%; transform: translatex(-50%); top: 44px!important;}
.login-sec form { width: 100%; float: left; margin-bottom: 20px;}
.login-sec.reply-answer input.btn {  width: auto!important;
    padding: 0px 25px!important;
    margin: 0 auto;
    display: table;
    text-align: center;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px!important;
    height: 36px!important;
    line-height: 36px!important;}
.login-sec form#new_guest input.btn {    width: auto!important;
    padding: 0px 25px!important;
    margin: 0 auto;
    display: table;
    text-align: center;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px!important;
    height: 36px!important;
    line-height: 36px!important;}

    .receipy-top-sec textarea {    height: auto!important; min-height: 80px!important;}
    .margin-sec.top-recepi.top-space .box-content {margin-top: 0px; margin-right: 0px;}
    .margin-sec.receipy-top-sec .rht-box-sec {margin-top: 20px;}
    .top-recepi.top-space .box-content {margin-top: 20px;}
.margin-sec .box-content { min-height: inherit!important;}
    .full-width-sec .box-content {
    float: left;
    display: block;
    text-align: left;
    vertical-align: top; 
    margin: 0;
    width: 100%;
}

.navbar-nav {
    text-align: center;
}
.navbar-expand-lg>.container-fluid {
    padding-right: 23px;
    padding-left: 22px;
}
    .full-width-sec.edit-chef {
    float: left;
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
}
.full-width-sec .box-content {
    float: left;
    display: block;
    text-align: left;
    vertical-align: top;
    margin: 0;
    width: 100%;
}
    .edit-chef .box-content { min-height: inherit!important; margin-top: 20px!important;}
    .login-header + .row { padding: 10px;}
    .pagination-top .btn-success a {margin-bottom: 15px!important;}
    .margin-sec .box-content p {font-size: 15px!important;}
    .margin-sec .delete-btn-type {padding: 0!important;}
.margin-sec ul.nav.nav-tabs > li {
    float: left;  margin-bottom: 0px; width: auto;}
.margin-sec ul.nav.nav-tabs > li > a {
    position: relative;
    display: block;
    padding: 8px 10px!important;
    font-size: 16px!important;
}
.content-left-sec {    margin-top: 20px; margin-right: 0;}
.margin-sec .image-box-shadow { 
    height: auto; width: 100%;  float: left;
    margin-left: 0; margin-right: 0; margin-top: 10px;}
.login-sec form input.btn {    width: 100%!important;
    height: auto!important;
    word-wrap: break-word;
    word-break: break-all;
    font-size: 12px;
    padding: 8px 10px!important;
    margin: 0;
    display: block;
    white-space: normal;
    line-height: 2!important;}
.login-sec.well { width: 100%; float: left; margin: 0; display: block!important; padding: 12px!important;}
.dropdown .dropdown-menu li a {background: white; border-bottom: 1px solid rgba(153, 153, 153, 0.31);}
    .alert.alert-success {
    top: 80px!important;  margin-top: 0!important;
    margin: 0 0px!important; padding: 10px 10px 10px 10px!important;}
    .login-header .add-chef {top: -10px;}
.login-header { margin-top: 90px!important; margin-bottom: 20px!important;}
.table-responsive table.table {margin-top: 0!important; margin-bottom: 0!important;}
    .login-header h1 { font-size: 16px!important; font-weight: 600!important; letter-spacing: 0.3px;}
    .pagination {padding-left: 0; padding-right: 0; float: right;}
.dropdown .dropdown-backdrop {position: static;}
.custom-second-sec center p {font-size: 16px!important;}
.text-center center {font-size: 16px!important;}
    .custom-image-one {
    margin: 0 20px!important;
}
.custom-second-sec #message {
    width: 100%!important;
   float: none;
    margin-top: 20px!important;
}
.custom-second-sec p { font-size: 16px; line-height: 1.5;}
.footer3 {text-align: center;}
header .container {width: 90%!important;}
    header#main_header {
    text-align: center;
    height: 60px;
    padding: 0;
    min-height: 60px;
}
    .well .content-se { font-size: 15px; top: 14%; transform: translateX(-50%);}
    header .mobile-menu {
    display: block;
    float: right;
    margin-right: 10px;
    margin-top: 0;
    background: #5cb85c;
    width: 42px;
    height: 38px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }
    header .mobile-menu i {
    cursor: pointer;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    padding: 8px 10px 10px 10px;
    height: auto;
    line-height: normal;
}
    .header-menu {display: none;  }
    .header-menu {    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 10px;
    background: #344a64;}
.header-menu li {
    list-style: none;
    float: left;
    display: inline-block;
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
}
.header-menu li a {
    padding: 0px 15px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    border-radius: 4px;
    opacity: 0.90;
    display: block;
    color: #fff;
    background-color: #5cb85c;
    text-decoration: none;
}
header {z-index: 999;  height: 60px!important; padding: 10px 0!important;}
header .logo {margin-top: 5px;}
header#main_header #responsive-nav .one {display: none;}
header#main_header #responsive-nav .one {    margin-left: 0;     padding: 10px 20px 0 20px;
    margin-right: 0; margin-top: 0; margin-bottom: 0px; width: 100%;float: left;}
header#main_header #responsive-nav .one li { width: 100%; float: left; margin-bottom: 0px;}
header#main_header #responsive-nav .one a {width: 100%; font-size: 14px!important;}
header#main_header #responsive-nav {  float: left;
    width: 100%;
    margin: 12px 0 0 0; 
    padding: 0px;
/*        max-height: 200px;
    overflow-y: auto;*/
        z-index: 99999;
    background: #344a64;}
.dropdown .dropdown-menu {
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 100px;
    overflow-y: auto;
}
 .dropdown .dropdown-menu li {
    width: 100%;
    float: left;
    margin-bottom: 0px;
    margin: 0;
    border-radius: 5px;
    border-top-left-radius: 5px;
} 
 .dropdown .dropdown-menu li a {
    width: 100%;
    padding: 6px 20px;
}

}

@media (max-width: 1024px) and (min-width: 768px) {
.top-recepi.top-space {  width: 100%; float: left;} 
.top-space .col-list {  width: calc(100% - 420px); padding-right: 15px; float: left;} 
.top-space .col-img { width: 200px; margin-top: 0!important; margin-right: 10px; margin-left: 0; float: left;} 
.top-space .col-list .pull-right {bottom: 30px!important;  right: 25px!important;}
.top-space .col-img .image-box-shadow { height: 220px; margin-top: 0px;}
.nav.nav-tabs > li a { font-size: 18px!important;}
.chef-bio.bio-section .image-box-shadow {width: 100%; }
.chef-bio.bio-section .col-md-3 {
    padding-right: 2%!important;  width: 30%; float: left; margin-left: 0!important; margin-top: 0; box-shadow: none; margin: 0;}
.chef-bio.bio-section .col-md-9 { padding: 0; width: 70%; float: left; box-shadow: none; margin: 0;}
.chef-full .custom-profile-detail img {min-height: inherit!important;}
.margin-sec .detail .box-content {padding-bottom: 10px;} 
.margin-sec .detail .content-left-sec { padding-bottom: 30px;}
.margin-sec .detail-sec { width: calc(100% - 300px);}
.margin-sec .thumb-sec { float: left; width: 300px;}
.margin-sec .thumb-sec .image-box-shadow {height: 300px;}
.detail-sec .detail-list {margin-bottom: 0!important;}
.margin-sec .detail-sec .chef_info h2 a {padding: 0 10px!important;}
.margin-sec .detail-sec .box-content p {font-size: 17px;}
 .margin-sec .detail .pull-right {
    position: absolute; right: 22px!important; bottom: 30px!important; margin: 0!important;}
.margin-sec .box-content .pull-right { position: absolute; right: 15px; bottom: 20px; }
.margin-sec .detail { width: calc(100% - 420px); padding-right: 15px; float: left; flex: 0 0 43.666667%  !important;}
.margin-sec .thumb { width: 200px; margin-top: 0!important; margin-right: 10px;
    margin-left: 0; float: left;     flex: 0 0 26.666667% !important;
    max-width: 200px !important;} 
.margin-sec .image-box-shadow { height: 200px; margin-top: 0px;}
.margin-sec .box-content {padding: 15px;}
    header#main_header > .container #responsive-nav > ul li a,
     header#main_header > .container #responsive-nav .nav_item a {
    padding: 6px 10px; font-size: 14px;}
#main_header ul {margin-left: 5px;}
.pagination {float: right;}
.margin-sec.receipy-top-sec .rht-box-sec {  margin-top: 20px;}
.return-receipi {margin-bottom: 20px!important;}
.edit-chef .box-content { min-height: inherit!important; margin-top: 20px!important;}

    .img-inner img {
        height: 190px !important;
    }

    .detail-sec {
        max-width: 55.666667% !important;
    }
    .thumb-sec {
        max-width: 44.333333% !important;
        flex: 0 0 44.333333% !important;
    }
}




@media (max-width: 768px) {
    #logo {
        display: none !important;
    }
    .top-space .col-md-2 { box-shadow: none; } 
    .navbar-header, .container-fluid > .navbar-collapse {
        margin-right: -15px;
        margin-left: -15px;
        z-index: 10;
        background-color: #344a64;
    }
    .navbar {
        width: 90%;
        margin-left: 5%;
    }
    .nav-item > a {
        /*margin-left:20px;
    */
    }

    .btn-purple {
        background-color: #8160e1;
    }

    .navbar-nav {
        margin: 0px !important;
    }
    .nav-item .btn {
        margin-bottom: 5px;
        line-height: 1.428571429;
        border-radius: 4px;
        margin-top: 5px;
    }
    .navbar-header, .container-fluid > .navbar-collapse > ul > li {
        width: 100%;
        /*border-bottom: solid 1px;*/
    }
    .nav > li {
        width: 100%;
    }


    .navbar-expand-lg>.container-fluid {
        padding-right: 23px !important;
        padding-left: 22px !important;
    }

    .well.box-content .pull-right {
        position: relative !important;
        margin-right: 10px !important;
        margin-bottom: 10px;
        margin-top: 10px !important;
        right: 0px !important;
        bottom: 0px !important
    }
}

@media (min-width: 500px) and (max-width: 767px) {
    .margin-sec {
        margin-top: 67px;
    }
    .list-recipes {
        margin-top: -68px;
    }
}


header#main_header #responsive-nav .one:last-child {padding-bottom: 20px;}
.margin-sec .box-content h2 {
    text-align: left;
    font-size: 17px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px!important;
    text-transform: capitalize;
        color: #337ab7;
}
.chef_info.center h2 a {
    width: auto!important;
    padding: 0px 15px!important;
    margin: 0 auto;
    text-align: center;
    border: 0;
    height: 36px!important;
    line-height: 36px!important;
    float: right;
    color: #fff;
    background-color: #5cb85c;
    text-transform: capitalize;
    text-decoration: none;
        font-size: 15px;
    font-weight: 500;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
}
.chef_info.center h2 a:hover {
        text-decoration: none;
    color: #fff;
    background-color: #449d44;
}
.recipes-q {margin-top: 0px;}
.recipes-q h3 a {font-size: 20px;}

.chef-main-detail .chef-right .bios h2 {
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    border: 0;
    text-align: left;
    text-transform: none;
    color: #333333;
    font-weight: 500;
}
.chef-main-detail .chef-right .bios h3 {
    font-size: 18px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    border: 0;
    margin-top: 5px;
}
.reply-top {margin-top: 40px;}
.top-space .reply-sec {    border: 0;
    border-radius: 0;
    padding: 0;}
.reply-list .date {    font-size: 12px;
    color: #999;}
.return-receipi .btn-primary:hover {    background-color: rgba(129, 96, 225, 0.8);
    border-bottom-color: rgba(129, 96, 225, 0.8);
    outline: none;}
.box-content.question-left > h2 {    font-weight: 600;
    text-align: left;
    margin-top: 0;
    padding-bottom: 15px;
    letter-spacing: 0.5px;
    font-size: 14px;
    background-color: #449d44;
    height: 34px;
    line-height: 34px;
    padding-left: 13px;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 13px;
    }
.question-left .date {
    color: #999;
    padding-left: 10px;
    font-size: 13px;
}

/*=========2-4-18=============*/
.mobile-menu {display: none;}
.mobile-menu i { cursor: pointer;
    font-size: 30px;     color: #5cb85c; font-weight: 100;}
.alert.alert-danger {
 position: relative;
    width: 100%;
    float: left;
    
    margin: 0 0px;}
.alert {
    margin-top: 100px !important;
}
.alert.alert-danger h5 {    font-weight: 600; margin-bottom: 15px; padding-right: 120px;
    text-align: center; font-size: 18px;
    padding-left: 25px;}
.alert.alert-danger ul {    text-align: left;
    width: 450px;
    float: none;
    margin: 0 auto;}
.alert.alert-danger ul li {
    font-weight: 600;
    font-size: 15px;
}
.without-heading {
    margin-top: 120px;
}
.without-heading .row {
    margin-left: 0;
    margin-right: 0;
}
.margin-sec form input {  height: 36px; padding: 0 10px}
.margin-sec .custom-nav-tab {    margin-top: 0!important;}
.col-lg-12 {position: static;}
.col-md-12 {position: static;}
.label small {    display: block;
    color: #6f6b6b;
    word-wrap: break-word;
    white-space: normal;
    font-size: 12px;
    text-align: left;
    line-height: 1.4;
    font-weight: 500;} 
.full-width-sec.edit-chef {
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    float: left;
    padding: 0;
}
.box-content.box-content-rht {margin-top: 20px;}
.dropdown .dropdown-menu {left: inherit; right: 0;}
.margin-sec.receipy-top-sec {margin-top: 0px;}
.login-sec form#new_guest button.purpal {  -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px;} 
.custom-second-sec { margin-bottom: 25px;}
.footer3 {    width: 100%;
    float: left;
    background-color: #344a64!important;
    padding: 12px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 99;
    margin: 0 0 0 0;}
.footer3 p { text-align: center; margin: 0; padding: 0; color: #fff; font-size: 14px;}
.content-header { width: 100%; float: left; margin-bottom: 80px;}
.style-sec .col-md-3 {
    padding-left: 0;
    box-shadow: none;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
}
.style-sec .box-inner-sec {
    display: block; 
    margin-right: 0px;
    width: 100%;
    float: left;
    position: relative;
}
.delete-btn-type a {    padding: 10px 18px;
    font-size: 14px;
    color: #fff!important;
    background-color: rgba(255, 0, 0, 1);
    border-color: red;
    border-radius: 5px;
    margin-bottom: 0;
    text-decoration: none;}
 .delete-btn-type a:hover {text-decoration: none;}
.delete-btn-type a:hover { background-color: rgba(255, 0, 0, 0.8); color: #fff!important;}
.margin-sec .delete-btn-type {padding: 0;}
.allergen-sec .col-md-3 {padding: 0; box-shadow: none;}
.allergen-sec .col-md-3:hover {padding: 0; box-shadow: none;}
.reply-container .reply-top:first-child {margin-top: 20px; margin-bottom: 0;}
.reply-container .reply-top:last-child {margin-bottom: 40px; margin-top: 0;}
.col-md-3 {box-shadow: none!important; padding-top: 0px; padding-right: 10px;} 
 .col-md-6 {padding-right: 10px;} 
 .full-shafe .col-lg-6  {margin-right: 0;}
  .full-shafe .col-md-3  {margin-right: 0!important;}
.margin-sec .row .col-md-2:nth-child(3) {padding-right: 0px;}
.margin-sec  .row { margin-left: 0; margin-right: 0;}
.box-content .pull-right {    position: absolute; right: 40px; bottom: 40px;  margin: 0;} 
.bio-section .chef-full .col-md-3 {padding-left: 0;
    padding-right: 15px;}
.bio-section .chef-full .col-md-9 {padding: 0;}
.col-md-4 { padding: 0!important; box-shadow: none!important;}
.col-md-6 { padding: 0!important; box-shadow: none!important;}
.col-md-2 { padding: 0!important; box-shadow: none!important;}
.col-md-3 { padding: 0!important; box-shadow: none!important;}
.text-center.custom-second-sec {margin-bottom: 30px;}
.text-center.custom-second-sec .text-center {margin-bottom: 25px;}
.text-center.custom-second-sec .button-success a {margin-bottom: 0px;}
.chef-bio.bio-section .col-md-3 {padding-right: 10px!important;}
.chef-bio .custom-profile-detail img {    object-fit: contain!important;}  
.chef-bio.bio-section .image-box-shadow {padding: 0; max-height: 340px; height: 341px;}
.chef-bio.bio-section { clear: both; width: 100%; float: left; margin-bottom: 15px;}
.user-profile {
    margin-top: 20px;
}

/*================28-6-18=====================*/
.chef-full .box-main .bios p { 
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    border: 0;
    text-align: left;
    text-transform: none;
    color: #333333;
    font-weight: 500;
}

.chef-full .box-main .bios h2 div { 
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    border: 0;
    text-align: left;
    text-transform: none;
    color: #333333;
     font-weight: 500;
}
.margin-sec .box-content p.label {
    padding-left: 0;
}
.box-content input.btn {
    /*margin-top: 15px!important;*/
}
.recipe-detail .detail-list .well-sec p {
    font-size: 16px;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
    border: 0;
    text-align: left;
    text-transform: none;
    color: #333333;
     font-weight: 500;
}
